###############################################################################
# Arquivos de build / cache
###############################################################################
bin/
obj/
bld/
publish/
.vs/
.nuget/
.tools/
TestResults/

###############################################################################
# Configurações locais
###############################################################################
*.user
*.userprefs
*.suo
*.userosscache
*.sln.docstates
.env
launchSettings.json

###############################################################################
# IDEs / Editores
###############################################################################
.vscode/
.idea/
*.sln.iml

###############################################################################
# Logs e saídas temporárias
###############################################################################
*.log
wwwroot/

###############################################################################
# Banco de dados / Data
###############################################################################
*.mdf
*.ldf
*.ndf
*.db

###############################################################################
# Pacotes e dependências externas
###############################################################################
node_modules/
*.nupkg

###############################################################################
# Ferramentas de infraestrutura / DevOps
###############################################################################
.dockerignore
Dockerfile*
!Dockerfile
.docker/
docker-compose.*.yml
docker-compose.override.yml
.kube/
k8s/
.terraform/
*.tfstate
*.tfstate.*
.ansible/
.vagrant/
.azure/
.aws/
.gcloud/
.heroku/

###############################################################################
# Outras ferramentas / utilitários
###############################################################################
.sonarqube/
swagger*.json
.gitconfig
.gitattributes
.gitkeep

###############################################################################
# Diretório específico da solução
###############################################################################
.vs/
/.vs/
/.vs/**



###############################################################################
FRONTEND
###############################################################################
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
